body{
    text-align: center;
    background-color: rgb(199, 228, 120);
    margin: 50px;
    color: rgb(68, 53, 53);
}
h1{
    font-family: 'oswald', sans-serif;
}
p{
    font-family: 'fira-sans', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'fira-sans',sans-serif;
    color: rgb(90, 90, 216);
}
a:hover{
    text-decoration: underline;
}